# Introduction

- Webscrape https://www.tennislive.net for pro-level match data
- Output two .csv files 
    - Single row dataframe for summary statistics dashboard
    - point by point (Pbp) level csv file for Match Viewer website => to attach timestamps using website tagger

need to write some documentation so

1. People reviewing your GitHub can understand what’s it’s doing. (Make a read me file)

2. We can use this in our products for tennis consulting

# Install Packages

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

In [365]:
page = requests.get('https://www.tennislive.net/atp/match/bernard-tomic-VS-govind-nanda/m25-tulsa-2024/')

In [366]:
soup = BeautifulSoup(page.text, 'html')

### Check Status Code
- 200 = success
- 404 = failed

In [367]:
page.status_code

200

# Single Row For Summary Statistics Dashboard

### Match Info

In [369]:
table = soup.find('table', class_ = 'table_pmatches')

date = soup.find('td', class_ = 'w50').text.strip().split(' ')[0]
round_info = soup.find_all('td', class_='w50')[1].text.strip()
player1 = soup.find_all('td', class_='w130')[0].text.strip()
player2 = soup.find_all('td', class_='w130')[1].text.strip()
score = soup.find('span', id='score').text.strip()
tournament = soup.find('td', class_='w200').find('a').text.strip()

# Create a DataFrame
data = {
    'Date': [date],
    'Round': [round_info],
    'Player 1': [player1],
    'Player 2': [player2],
    'Score': [score],
    'Tournament': [tournament]
}

df_match_info = pd.DataFrame(data)

In [370]:
df_match_info

       Date Round       Player 1      Player 2     Score Tournament
0  21.06.24   1/4  Bernard Tomic  Govind Nanda  6-3, 6-1  M25 Tulsa

### Match Statistics

In [372]:
# Function to extract data for a given statistic
def extract_statistic(statistic):
    row = soup.find('td', string=statistic).parent
    player1_stat = row.find_all('td')[1].text.strip().split(' ')[0]
    player2_stat = row.find_all('td')[2].text.strip().split(' ')[0]
    return player1_stat, player2_stat

statistics = [
    '1st SERVE %',
    '1st SERVE POINTS WON',
    '2nd SERVE POINTS WON',
    'TOTAL RETURN POINTS WON',
    'TOTAL POINTS WON',
    'DOUBLE FAULTS',
    'ACES'
]

# List of statistics to extract 
stats_length = len(soup.find_all('td', class_='info_txt'))

if stats_length == 8:
    statistics.insert(3, 'BREAK POINTS WON')  # Insert 'BREAK POINTS WON' at the correct position

# Dictionary to hold the statistics
data = {}

# Extract and store statistics for both players
for stat in statistics:
    player1_stat, player2_stat = extract_statistic(stat)
    stat_name = stat.lower().replace(' ', '_').replace('%', 'percentage').replace('/', '_').replace('(','').replace(')','')
    data[f'{stat_name}_player1'] = player1_stat
    data[f'{stat_name}_player2'] = player2_stat

# Convert the dictionary to a DataFrame
df_stats = pd.DataFrame([data])

In [373]:
df_stats

,1st_serve_percentage_player1,1st_serve_percentage_player2,1st_serve_points_won_player1,1st_serve_points_won_player2,2nd_serve_points_won_player1,2nd_serve_points_won_player2,break_points_won_player1,break_points_won_player2,total_return_points_won_player1,total_return_points_won_player2,total_points_won_player1,total_points_won_player2,double_faults_player1,double_faults_player2,aces_player1,aces_player2
0,33/70,28/48,27/33,16/28,16/37,8/20,5/7,1/10,24/48,27/70,67/118,51/118,2,1,7,0

### Combine the DataFrames by column binding them

In [374]:
# Combine the DataFrames by column binding them
df_combined = pd.concat([df_match_info, df_stats], axis=1)

df_combined

,Date,Round,Player 1,Player 2,Score,Tournament,1st_serve_percentage_player1,1st_serve_percentage_player2,1st_serve_points_won_player1,1st_serve_points_won_player2,...,break_points_won_player1,break_points_won_player2,total_return_points_won_player1,total_return_points_won_player2,total_points_won_player1,total_points_won_player2,double_faults_player1,double_faults_player2,aces_player1,aces_player2
0,21.06.24,1/4,Bernard Tomic,Govind Nanda,"6-3, 6-1",M25 Tulsa,33/70,28/48,27/33,16/28,...,5/7,1/10,24/48,27/70,67/118,51/118,2,1,7,0

In [375]:

# # Extract match information
# date = soup.find('td', class_='w50').text.strip().split(' ')[0]
# round_info = soup.find_all('td', class_='w50')[1].text.strip()
# player1 = soup.find_all('td', class_='w130')[0].text.strip()
# player2 = soup.find_all('td', class_='w130')[1].text.strip()
# score = soup.find('span', id='score').text.strip()
# tournament = soup.find('td', class_='w200').find('a').text.strip()

# # Create a DataFrame for match info
# match_data = {
#     'Date': [date],
#     'Round': [round_info],
#     'Player 1': [player1],
#     'Player 2': [player2],
#     'Score': [score],
#     'Tournament': [tournament]
# }
# df_match_info = pd.DataFrame(match_data)

# # Function to extract data for a given statistic
# def extract_statistic(statistic):
#     row = soup.find('td', string=statistic).parent
#     player1_stat = row.find_all('td')[1].text.strip().split(' ')[0]
#     player2_stat = row.find_all('td')[2].text.strip().split(' ')[0]
#     return player1_stat, player2_stat

# # List of statistics to extract
# statistics = [
#     '1st SERVE %',
#     '1st SERVE POINTS WON',
#     '2nd SERVE POINTS WON',
#     'TOTAL RETURN POINTS WON',
#     'TOTAL POINTS WON',
#     'DOUBLE FAULTS',
#     'ACES'
# ]

# # List of statistics to extract 
# stats_length = len(soup.find_all('td', class_='info_txt'))

# if stats_length == 8:
#     statistics.insert(3, 'BREAK POINTS WON')  # Insert 'BREAK POINTS WON' at the correct position



# # Dictionary to hold the statistics
# stat_data = {}

# # Extract and store statistics for both players
# for stat in statistics:
#     player1_stat, player2_stat = extract_statistic(stat)
#     stat_name = stat.lower().replace(' ', '_').replace('%', 'percentage').replace('/', '_').replace('(','').replace(')','')
#     stat_data[f'{stat_name}_player1'] = player1_stat
#     stat_data[f'{stat_name}_player2'] = player2_stat

# # Convert the dictionary to a DataFrame
# df_stats = pd.DataFrame([stat_data])

# # Combine the DataFrames by column binding them
# df_combined = pd.concat([df_match_info, df_stats], axis=1)

# df_combined

,Date,Round,Player 1,Player 2,Score,Tournament,1st_serve_percentage_player1,1st_serve_percentage_player2,1st_serve_points_won_player1,1st_serve_points_won_player2,...,break_points_won_player1,break_points_won_player2,total_return_points_won_player1,total_return_points_won_player2,total_points_won_player1,total_points_won_player2,double_faults_player1,double_faults_player2,aces_player1,aces_player2
0,21.06.24,1/4,Bernard Tomic,Govind Nanda,"6-3, 6-1",M25 Tulsa,33/70,28/48,27/33,16/28,...,5/7,1/10,24/48,27/70,67/118,51/118,2,1,7,0

# Extract Data from Multiple Links

In [346]:
import pandas as pd

import requests

from bs4 import BeautifulSoup

In [376]:

def extract_match_data(urls):
    data_list = []
    
    for url in urls:
        # Fetch HTML content from the URL
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Extract match information
        date = soup.find('td', class_='w50').text.strip().split(' ')[0]
        round_info = soup.find_all('td', class_='w50')[1].text.strip()
        player1 = soup.find_all('td', class_='w130')[0].text.strip()
        player2 = soup.find_all('td', class_='w130')[1].text.strip()
        score = soup.find('span', id='score').text.strip()
        tournament = soup.find('td', class_='w200').find('a').text.strip()
        
        # Extract statistics function
        def extract_statistic(statistic):
            row = soup.find('td', string=statistic).parent
            player1_stat = row.find_all('td')[1].text.strip().split(' ')[0]
            player2_stat = row.find_all('td')[2].text.strip().split(' ')[0]
            return player1_stat, player2_stat
        
            # List of statistics to extract
            statistics = [
                '1st SERVE %',
                '1st SERVE POINTS WON',
                '2nd SERVE POINTS WON',
                'TOTAL RETURN POINTS WON',
                'TOTAL POINTS WON',
                'DOUBLE FAULTS',
                'ACES'
            ]

            # List of statistics to extract 
            stats_length = len(soup.find_all('td', class_='info_txt'))

            if stats_length == 8:
                statistics.insert(3, 'BREAK POINTS WON')  # Insert 'BREAK POINTS WON' at the correct position

        
        # Extract statistics for original players
        
        stat_data = {}
        
        for stat in statistics:
            player1_stat, player2_stat = extract_statistic(stat)
            stat_name = stat.lower().replace(' ', '_').replace('%', 'percentage').replace('/', '_').replace('(','').replace(')','')
            stat_data[f'{stat_name}_player1'] = player1_stat
            stat_data[f'{stat_name}_player2'] = player2_stat
        
        # Append match data to the list
        match_data = {
            'Date': date,
            'Round': round_info,
            'Player 1': player1,
            'Player 2': player2,
            'Score': score,
            'Tournament': tournament,
            **stat_data
        }
        data_list.append(match_data)
    
    # Convert list of dictionaries to DataFrame
    df = pd.DataFrame(data_list)
    
    # Sort DataFrame by Date in descending order
    df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%y')
    
    df = df.sort_values(by='Date', ascending=True).reset_index(drop=True)
    
    return df

In [377]:
extract_match_data(['https://www.tennislive.net/atp/match/bernard-tomic-VS-govind-nanda/m25-tulsa-2024/'])

,Date,Round,Player 1,Player 2,Score,Tournament,1st_serve_percentage_player1,1st_serve_percentage_player2,1st_serve_points_won_player1,1st_serve_points_won_player2,...,break_points_won_player1,break_points_won_player2,total_return_points_won_player1,total_return_points_won_player2,total_points_won_player1,total_points_won_player2,double_faults_player1,double_faults_player2,aces_player1,aces_player2
0,2024-06-21,1/4,Bernard Tomic,Govind Nanda,"6-3, 6-1",M25 Tulsa,33/70,28/48,27/33,16/28,...,5/7,1/10,24/48,27/70,67/118,51/118,2,1,7,0

### Accomodating for the player profile link

In [396]:
response = requests.get('https://www.tennislive.net/atp/match/rudy-quan-VS-shintaro-imai/little-rock-challenger-2024/')
soup = BeautifulSoup(response.content, 'html.parser')

### Modify Function
- https://www.tennislive.net/atp/match/rudy-quan-VS-jonas-pelle-hartenstein/m15-orange-park-2024/
- ^modify function for profiles with no statistics

In [397]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def extract_match_data(urls):
    data_list = []
    
    for url in urls:
        # Fetch HTML content from the URL
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Extract match information
        date = soup.find('td', class_='w50').text.strip().split(' ')[0]
        round_info = soup.find_all('td', class_='w50')[1].text.strip()
        player1 = soup.find_all('td', class_='w130')[0].text.strip()
        player2 = soup.find_all('td', class_='w130')[1].text.strip()
        score = soup.find('span', id='score').text.strip()
        tournament = soup.find('td', class_='w200').find('a').text.strip()
        
        # Extract statistics function
        def extract_statistic(statistic):
            row = soup.find('td', string=statistic).parent
            player1_stat = row.find_all('td')[1].text.strip().split(' ')[0]
            player2_stat = row.find_all('td')[2].text.strip().split(' ')[0]
            return player1_stat, player2_stat
        
        # List of statistics to extract
        statistics = [
            '1st SERVE %',
            '1st SERVE POINTS WON',
            '2nd SERVE POINTS WON',
            'TOTAL RETURN POINTS WON',
            'TOTAL POINTS WON',
            'DOUBLE FAULTS',
            'ACES'
        ]

        # List of statistics to extract 
        stats_length = len(soup.find_all('td', class_='info_txt'))

        if stats_length == 8:
            statistics.insert(3, 'BREAK POINTS WON')  # Insert 'BREAK POINTS WON' at the correct position
        
        # Extract statistics for original players
        stat_data = {}
        table = soup.find_all('table', class_ = 'table_stats_match')

        if len(table) > 0 and table[0].find('td', class_='info_txt'):  # Process only if the table has data
            for stat in statistics:
                player1_stat, player2_stat = extract_statistic(stat)  # Extract stats for each player
                stat_name = (stat.lower()
                                .replace(' ', '_')
                                .replace('%', 'percentage')
                                .replace('/', '_')
                                .replace('(', '')
                                .replace(')', ''))

                # Store stats in dictionary
                stat_data[f'{stat_name}_player1'] = player1_stat
                stat_data[f'{stat_name}_player2'] = player2_stat
        else:
            # If the table is empty, set all stats to None
            for stat in statistics:
                stat_name = (stat.lower()
                                .replace(' ', '_')
                                .replace('%', 'percentage')
                                .replace('/', '_')
                                .replace('(', '')
                                .replace(')', ''))

                stat_data[f'{stat_name}_player1'] = None
                stat_data[f'{stat_name}_player2'] = None

        # Append match data to the list
        match_data = {
            'Date': date,
            'Round': round_info,
            'Player 1': player1,
            'Player 2': player2,
            'Score': score,
            'Tournament': tournament,
            **stat_data
        }
        data_list.append(match_data)
    
    # Convert list of dictionaries to DataFrame
    df = pd.DataFrame(data_list)
    
    # Sort DataFrame by Date in descending order
    df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%y')
    
    df = df.sort_values(by='Date', ascending=True).reset_index(drop=True)
    
    return df

In [398]:
# Example usage
urls = ['https://www.tennislive.net/atp/match/rudy-quan-VS-viktor-frydrych/us-open-juniors-2024/#google_vignette',
       'https://www.tennislive.net/atp/match/rudy-quan-VS-jonas-pelle-hartenstein/m15-orange-park-2024/',
       'https://www.tennislive.net/atp/match/rudy-quan-VS-viktor-frydrych/us-open-juniors-2024/']
df = extract_match_data(urls)
df

,Date,Round,Player 1,Player 2,Score,Tournament,1st_serve_percentage_player1,1st_serve_percentage_player2,1st_serve_points_won_player1,1st_serve_points_won_player2,2nd_serve_points_won_player1,2nd_serve_points_won_player2,total_return_points_won_player1,total_return_points_won_player2,total_points_won_player1,total_points_won_player2,double_faults_player1,double_faults_player2,aces_player1,aces_player2
0,2024-05-02,2nd round,Rudy Quan,Jonas Pelle Hartenstein,- walk over,M15 Orange,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,2024-09-01,1st round,Rudy Quan,Viktor Frydrych,"7-5, 6-1",U.S. Open,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,2024-09-01,1st round,Rudy Quan,Viktor Frydrych,"7-5, 6-1",U.S. Open,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [382]:
extract_match_data(['https://www.tennislive.net/atp/match/rudy-quan-VS-jonas-pelle-hartenstein/m15-orange-park-2024/'])

,Date,Round,Player 1,Player 2,Score,Tournament,1st_serve_percentage_player1,1st_serve_percentage_player2,1st_serve_points_won_player1,1st_serve_points_won_player2,2nd_serve_points_won_player1,2nd_serve_points_won_player2,total_return_points_won_player1,total_return_points_won_player2,total_points_won_player1,total_points_won_player2,double_faults_player1,double_faults_player2,aces_player1,aces_player2
0,2024-05-02,2nd round,Rudy Quan,Jonas Pelle Hartenstein,- walk over,M15 Orange,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [383]:
extract_match_data(['https://www.tennislive.net/atp/match/rudy-quan-VS-shintaro-imai/little-rock-challenger-2024/'])

,Date,Round,Player 1,Player 2,Score,Tournament,1st_serve_percentage_player1,1st_serve_percentage_player2,1st_serve_points_won_player1,1st_serve_points_won_player2,...,break_points_won_player1,break_points_won_player2,total_return_points_won_player1,total_return_points_won_player2,total_points_won_player1,total_points_won_player2,double_faults_player1,double_faults_player2,aces_player1,aces_player2
0,2024-05-26,q 1,Rudy Quan,Shintaro Imai,"4-6, 6-4, 6-2",Little Rock,55/76,54/118,36/55,34/54,...,6/19,4/6,55/118,30/76,101/194,93/194,2,9,0,15

In [384]:
extract_match_data(['https://www.tennislive.net/atp/match/rudy-quan-VS-viktor-frydrych/us-open-juniors-2024/'])

,Date,Round,Player 1,Player 2,Score,Tournament,1st_serve_percentage_player1,1st_serve_percentage_player2,1st_serve_points_won_player1,1st_serve_points_won_player2,2nd_serve_points_won_player1,2nd_serve_points_won_player2,total_return_points_won_player1,total_return_points_won_player2,total_points_won_player1,total_points_won_player2,double_faults_player1,double_faults_player2,aces_player1,aces_player2
0,2024-09-01,1st round,Rudy Quan,Viktor Frydrych,"7-5, 6-1",U.S. Open,None,None,None,None,None,None,None,None,None,None,None,None,None,None

### INPUT (playerName) and (links) HERE

In [385]:
# Example usage:
# player_name = "Mikel Lopez Hernaez"

urls = ['https://www.tennislive.net/atp/match/rudy-quan-VS-jonas-pelle-hartenstein/m15-orange-park-2024/',
        'https://www.tennislive.net/atp/match/rudy-quan-VS-shintaro-imai/little-rock-challenger-2024/',
        'https://www.tennislive.net/atp/match/rudy-quan-VS-filip-peliwo/little-rock-challenger-2024/',
        'https://www.tennislive.net/atp/match/rudy-quan-VS-stefan-kozlov/little-rock-challenger-2024/',
        'https://www.tennislive.net/atp/match/rudy-quan-VS-andres-andrade/little-rock-challenger-2024/',
        'https://www.tennislive.net/atp/match/yuta-shimizu-VS-rudy-quan/little-rock-challenger-2024/'
]

# extract_match_data(player_name, urls)
extract_match_data(urls)

# page.status_code

,Date,Round,Player 1,Player 2,Score,Tournament,1st_serve_percentage_player1,1st_serve_percentage_player2,1st_serve_points_won_player1,1st_serve_points_won_player2,...,total_return_points_won_player1,total_return_points_won_player2,total_points_won_player1,total_points_won_player2,double_faults_player1,double_faults_player2,aces_player1,aces_player2,break_points_won_player1,break_points_won_player2
0,2024-05-02,2nd round,Rudy Quan,Jonas Pelle Hartenstein,- walk over,M15 Orange,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
1,2024-05-26,q 1,Rudy Quan,Shintaro Imai,"4-6, 6-4, 6-2",Little Rock,55/76,54/118,36/55,34/54,...,55/118,30/76,101/194,93/194,2,9,0,15,6/19,4/6
2,2024-05-27,qual.,Rudy Quan,Filip Peliwo,"6-4, 6-2",Little Rock,36/51,23/49,20/36,12/23,...,32/49,25/51,58/100,42/100,1,4,0,1,7/7,4/8
3,2024-05-28,1st round,Rudy Quan,Stefan Kozlov,"6-1, 7-5",Little Rock,42/62,41/58,25/42,19/41,...,34/58,27/62,69/120,51/120,1,3,0,0,6/11,3/6
4,2024-05-30,2nd round,Rudy Quan,Andres Andrade,"6-3, 3-6, 6-3",Little Rock,59/84,44/89,32/59,25/44,...,48/89,42/84,90/173,83/173,7,10,1,3,8/17,6/9
5,2024-05-31,1/4,Yuta Shimizu,Rudy Quan,"6-4, 6-3",Little Rock,37/55,64/80,21/37,29/64,...,44/80,25/55,74/135,61/135,1,2,4,0,7/16,4/7

# Accomodate for Player Profile Page

### Cj Notes

In [400]:
page = requests.get('https://www.tennislive.net/atp/ethan-quinn/')

In [401]:
soup = BeautifulSoup(page.text, 'html')

In [402]:
table = soup.find_all('table', class_ = 'table_pmatches')[1]

In [403]:
rows = table.find_all('td', class_='w50')

### Grab the Link
##### WARNING: This also grabs the links of the player profiles, we only want the match links
- use the fact that the match links are every 3rd index as per the previous cells

In [404]:
match_links = []

for a in table.find_all('a', href=True):
    if "https://www.tennislive.net/atp/match/" in a['href']:
        match_links.append(a['href'])
        
        
match_links

['https://www.tennislive.net/atp/match/ethan-quinn-VS-enzo-couacaud/charlottesville-challenger-2024/',
 'https://www.tennislive.net/atp/match/patrick-kypson-VS-ethan-quinn/sioux-falls-challenger-2024/',
 'https://www.tennislive.net/atp/match/tristan-schoolkate-VS-ethan-quinn/fairfield-challenger-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-rudy-quan/fairfield-challenger-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-carl-emil-overbeck/fairfield-challenger-2024/',
 'https://www.tennislive.net/atp/match/alexis-galarneau-VS-ethan-quinn/tiburon-challenger-2024/',
 'https://www.tennislive.net/atp/match/nishesh-basavareddy-VS-ethan-quinn/charleston-challenger-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-brandon-holt/charleston-challenger-2024/',
 'https://www.tennislive.net/atp/match/nishesh-basavareddy-VS-ethan-quinn/columbus-challenger-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-patrick-kypson/columbus-challenger-2024/',
 'https://www.tennislive.net/atp/match/valentin-royer-VS-ethan-quinn/us-open-new-york-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-maxime-janvier/us-open-new-york-2024/',
 'https://www.tennislive.net/atp/match/david-goffin-VS-ethan-quinn/cary-challenger-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-alexander-ritschard/cary-challenger-2024/',
 'https://www.tennislive.net/atp/match/chak-lam-coleman-wong-VS-ethan-quinn/lincoln-challenger-2024/',
 'https://www.tennislive.net/atp/match/gabriel-diallo-VS-ethan-quinn/lexington-challenger-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-rodrigo-pacheco-mendez/lexington-challenger-2024/',
 'https://www.tennislive.net/atp/match/zachary-svajda-VS-ethan-quinn/atlanta-open-atlanta-2024/',
 'https://www.tennislive.net/atp/match/christopher-eubanks-VS-ethan-quinn/infosys-hall-of-fame-open-newport-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-marc-polmans/infosys-hall-of-fame-open-newport-2024/',
 'https://www.tennislive.net/atp/match/benjamin-bonzi-VS-ethan-quinn/winnipeg-challenger-2024/',
 'https://www.tennislive.net/atp/match/philip-sekulic-VS-ethan-quinn/bloomfield-hills-challenger-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-ozan-colak/bloomfield-hills-challenger-2024/',
 'https://www.tennislive.net/atp/match/eliot-spizzirri-VS-ethan-quinn/m25-wichita-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-alexander-kotzen/m25-wichita-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-andre-ilagan/m25-wichita-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-mykhailo-kvantaliani/m25-wichita-2024/',
 'https://www.tennislive.net/atp/match/chak-lam-coleman-wong-VS-ethan-quinn/tyler-challenger-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-hiroki-moriya/tyler-challenger-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-leo-borg/tyler-challenger-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-alex-rybakov/tyler-challenger-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-adam-neff/tyler-challenger-2024/',
 'https://www.tennislive.net/atp/match/nishesh-basavareddy-VS-ethan-quinn/little-rock-challenger-2024/',
 'https://www.tennislive.net/atp/match/ivan-gakhov-VS-ethan-quinn/gonet-geneva-open-geneva-2024/',
 'https://www.tennislive.net/atp/match/elias-ymer-VS-ethan-quinn/oeiras-4-challenger-2024/',
 'https://www.tennislive.net/atp/match/gabriele-piraino-VS-ethan-quinn/francavilla-challenger-2024/',
 'https://www.tennislive.net/atp/match/dmitry-popko-VS-ethan-quinn/savannah-challenger-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-oliver-crawford/savannah-challenger-2024/',
 'https://www.tennislive.net/atp/match/mitchell-krueger-VS-ethan-quinn/tallahassee-challenger-2024/',
 'https://www.tennislive.net/atp/match/stefan-kozlov-VS-ethan-quinn/sarasota-challenger-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-clement-tabur/sarasota-challenger-2024/',
 'https://www.tennislive.net/atp/match/valentin-vacherot-VS-ethan-quinn/us-mens-clay-court-championship-houston-2024/',
 'https://www.tennislive.net/atp/match/kyle-kang-VS-ethan-quinn/m25-calabasas-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-dominique-rolland/m25-calabasas-2024/',
 'https://www.tennislive.net/atp/match/timo-legout-VS-ethan-quinn/m25-bakersfield-2024/',
 'https://www.tennislive.net/atp/match/patrick-kypson-VS-ethan-quinn/bnp-paribas-open-indian-wells-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-andrea-vavassori/bnp-paribas-open-indian-wells-2024/',
 'https://www.tennislive.net/atp/match/ethan-quinn-VS-quentin-halys/bnp-paribas-open-indian-wells-2024/',
 'https://www.tennislive.net/atp/match/zachary-svajda-VS-ethan-quinn/delray-beach-open-delray-beach-2024/',
 'https://www.tennislive.net/atp/match/rinky-hijikata-VS-ethan-quinn/dallas-open-dallas-2024/']

In [391]:
extract_match_data(match_links)

,Date,Round,Player 1,Player 2,Score,Tournament,1st_serve_percentage_player1,1st_serve_percentage_player2,1st_serve_points_won_player1,1st_serve_points_won_player2,...,break_points_won_player1,break_points_won_player2,total_return_points_won_player1,total_return_points_won_player2,total_points_won_player1,total_points_won_player2,double_faults_player1,double_faults_player2,aces_player1,aces_player2
0,2024-02-07,1st round,Rinky Hijikata,Ethan Quinn,"6-4, 6-4",Dallas,35/66,45/72,23/35,28/45,...,3/10,1/7,32/72,23/66,75/138,63/138,1,2,4,5
1,2024-02-10,q 1,Zachary Svajda,Ethan Quinn,"6-3, 6-3",Delray Beach,33/53,29/60,26/33,22/29,...,4/8,1/4,29/60,16/53,66/113,47/113,0,3,1,3
2,2024-03-04,q 1,Ethan Quinn,Quentin Halys,"6-1, 7-5",Indian Wells,34/64,26/58,24/34,20/26,...,5/6,2/4,28/58,24/64,68/122,54/122,2,5,4,6
3,2024-03-05,qual.,Ethan Quinn,Andrea Vavassori,"4-6, 6-1, 6-2",Indian Wells,48/85,46/79,37/48,31/46,...,4/12,1/3,33/79,29/85,89/164,75/164,4,6,4,5
4,2024-03-07,1st round,Patrick Kypson,Ethan Quinn,"6-1, 7-61",Indian Wells,47/63,37/63,38/47,30/37,...,2/5,0/2,26/63,15/63,74/126,52/126,0,4,10,5
5,2024-03-13,1st round,Timo Legout,Ethan Quinn,"6-4, 5-7, 6-0",M25 Bakersfield,54/85,50/76,40/54,31/50,...,5/9,2/5,33/76,29/85,89/161,72/161,2,2,2,0
6,2024-03-19,1st round,Ethan Quinn,Dominique Rolland,"3-6, 6-3, 6-2",M25 Calabasas,57/80,46/77,39/57,28/46,...,6/9,4/7,36/77,32/80,84/157,73/157,7,5,4,3
7,2024-03-21,2nd round,Kyle Kang,Ethan Quinn,"7-5, 6-3",M25 Calabasas,42/73,33/60,30/42,21/33,...,3/6,1/4,24/60,25/73,72/133,61/133,0,6,3,0
8,2024-03-30,q 1,Valentin Vacherot,Ethan Quinn,"3-6, 6-3, 6-4",Houston,59/87,57/84,39/59,38/57,...,3/5,2/10,29/84,30/87,86/171,85/171,1,2,4,4
9,2024-04-08,1st round,Ethan Quinn,Clement Tabur,"6-4, 7-62",Sarasota Challenger,37/65,51/80,29/37,35/51,...,2/8,1/1,31/80,17/65,79/145,66/145,2,7,5,5
10,2024-04-10,2nd round,Stefan Kozlov,Ethan Quinn,"6-2, 5-7, 6-4",Sarasota Challenger,70/99,62/84,43/70,39/62,...,6/9,4/10,37/84,41/99,95/183,88/183,8,3,0,0
11,2024-04-16,1st round,Mitchell Krueger,Ethan Quinn,"6-1, 7-62",Tallahassee Challenger,40/68,38/64,25/40,22/38,...,5/7,2/3,33/64,27/68,74/132,58/132,3,2,2,4
12,2024-04-22,1st round,Ethan Quinn,Oliver Crawford,"6-2, 6-4",Savannah Challenger,37/59,30/51,24/37,19/30,...,5/6,2/7,24/51,24/59,59/110,51/110,1,1,5,0
13,2024-04-24,2nd round,Dmitry Popko,Ethan Quinn,"6-4, 5-7, 6-3",Savannah Challenger,50/92,66/100,34/50,43/66,...,5/9,4/7,42/100,35/92,99/192,93/192,3,1,3,4
14,2024-05-07,1st round,Gabriele Piraino,Ethan Quinn,"7-5, 7-5",Francavilla Challenger,61/83,47/61,39/61,31/47,...,4/6,2/7,23/61,32/83,74/144,70/144,2,1,0,3
15,2024-05-13,1st round,Elias Ymer,Ethan Quinn,"6-3, 6-4",Oeiras 4,41/71,44/62,29/41,26/44,...,3/5,1/7,28/62,25/71,74/133,59/133,1,3,6,2
16,2024-05-18,q 1,Ivan Gakhov,Ethan Quinn,"6-74, 7-64, 6-4",Geneva,72/114,80/124,60/72,63/80,...,1/15,0/6,38/124,32/114,120/238,118/238,3,2,10,9
17,2024-05-27,1st round,Nishesh Basavareddy,Ethan Quinn,"7-5, 6-4",Little Rock,26/61,43/72,21/26,30/43,...,2/6,0/3,27/72,15/61,73/133,60/133,6,4,5,10
18,2024-06-02,q 1,Ethan Quinn,Adam Neff,"6-4, 6-75, 6-3",Tyler Challenger,67/105,56/106,50/67,37/56,...,3/16,1/8,43/106,35/105,113/211,98/211,8,2,9,13
19,2024-06-03,qual.,Ethan Quinn,Alex Rybakov,"2-6, 6-2, 7-62",Tyler Challenger,67/100,55/90,48/67,38/55,...,2/7,2/5,33/90,36/100,97/190,93/190,6,6,1,3
20,2024-06-04,1st round,Ethan Quinn,Leo Borg,"4-6, 6-2, 6-2",Tyler Challenger,51/84,53/87,37/51,30/53,...,6/10,3/10,41/87,32/84,93/171,78/171,4,6,4,1
21,2024-06-05,2nd round,Ethan Quinn,Hiroki Moriya,"7-65, 7-5",Tyler Challenger,50/78,45/98,30/50,35/45,...,4/11,3/7,43/98,30/78,91/176,85/176,2,6,2,3
22,2024-06-07,1/4,Chak Lam Coleman Wong,Ethan Quinn,"6-2, 6-2",Tyler Challenger,28/50,27/53,24/28,18/27,...,NaN,NaN,25/53,16/50,59/103,44/103,2,3,6,0
23,2024-06-12,1st round,Ethan Quinn,Mykhailo Kvantaliani,"6-0, 6-3",M25 Wichita,33/56,16/44,25/33,10/16,...,5/5,1/5,26/44,19/56,63/100,37/100,2,4,3,0
24,2024-06-13,2nd round,Ethan Quinn,Andre Ilagan,"6-3, 6-4",M25 Wichita,37/77,39/56,26/37,22/39,...,3/5,1/6,25/56,29/77,73/133,60/133,5,2,5,2
25,2024-06-14,1/4,Ethan Quinn,Alexander Kotzen,"3-6, 6-1, 6-2",M25 Wichita,38/58,44/67,32/38,27/44,...,4/5,1/1,27/67,12/58,73/125,52/125,1,3,4,1
26,2024-06-15,1/2,Eliot Spizzirri,Ethan Quinn,"6-3, 6-3",M25 Wichita,29/43,30/51,22/29,14/30,...,5/6,2/2,28/51,12/43,59/94,35/94,1,1,2,1
27,2024-07-01,1st round,Ethan Quinn,Ozan Baris,"6-2, 6-2",Bloomfield Hills,27/50,28/54,22/27,15/28,...,4/10,0/4,29/54,14/50,65/104,39/104,1,1,6,3
28,2024-07-03,2nd round,Philip Sekulic,Ethan Quinn,"3-6, 7-5, 7-64",Bloomfield Hills,74/129,70/108,55/74,52/70,...,2/4,2/11,35/108,49/129,115/237,122/237,6,2,8,8
29,2024-07-08,1st round,Benjamin Bonzi,Ethan Quinn,"6-4, 6-4",Winnipeg Challenger,21/54,37/67,18/21,25/37,...,4/4,2/4,31/67,17/54,68/121,53/121,2,6,7,3
30,2024-07-16,1st round,Ethan Quinn,Marc Polmans,"6-3, 6-73, 6-1",Newport,59/93,63/97,40/59,41/63,...,7/14,2/8,43/97,36/93,100/190,90/190,3,9,4,0
31,2024-07-17,2nd round,Christopher Eubanks,Ethan Quinn,"7-64, 3-6, 6-3",Newport,76/113,66/104,53/76,47/66,...,2/6,2/11,38/104,40/113,111/217,106/217,8,2,16,4
32,2024-07-20,q 1,Zachary Svajda,Ethan Quinn,"6-4, 7-5",Atlanta,45/57,48/67,34/45,34/48,...,NaN,NaN,24/67,13/57,68/124,56/124,0,1,8,4
33,2024-07-30,1st round,Ethan Quinn,Rodrigo Pacheco Mendez,"2-6, 6-1, 6-2",Lexington Challenger,49/71,35/58,39/49,20/35,...,4/4,2/7,24/58,23/71,72/129,57/129,3,3,14,3
34,2024-08-02,2nd round,Gabriel Diallo,Ethan Quinn,"6-3, 7-66",Lexington Challenger,38/60,40/72,32/38,30/40,...,NaN,NaN,24/72,11/60,73/132,59/132,4,1,12,1
35,2024-08-06,1st round,Chak Lam Coleman Wong,Ethan Quinn,"6-1, 6-3",Lincoln Challenger,40/58,38/67,28/40,21/38,...,4/11,0/4,32/67,20/58,70/125,55/125,1,4,10,2
36,2024-08-11,1st round,Ethan Quinn,Alexander Ritschard,"6-3, 6-72, 7-5",Cary Challenger,65/102,74/132,51/65,51/74,...,4/15,2/3,55/132,33/102,124/234,110/234,4,8,6,10
37,2024-08-13,2nd round,David Goffin,Ethan Quinn,"6-4, 6-1",Cary Challenger,24/41,39/56,22/24,21/39,...,5/9,1/2,29/56,11/41,59/97,38/97,2,0,3,2
38,2024-08-19,q 1,Ethan Quinn,Maxime Janvier,"6-1, 6-0",New York,36/58,23/39,23/36,12/23,...,5/11,0/6,25/39,21/58,62/97,35/97,1,5,1,3
39,2024-08-21,q 2,Valentin Royer,Ethan Quinn,"6-1, 4-6, 7-66",New York,53/90,58/92,43/53,38/58,...,3/5,2/5,35/92,29/90,96/182,86/182,8,4,4,2
40,2024-09-16,1st round,Ethan Quinn,Patrick Kypson,"6-4, 6-4",Columbus Challenger,34/62,28/50,23/34,19/28,...,4/5,2/6,22/50,22/62,62/112,50/112,1,3,7,1
41,2024-09-18,2nd round,Nishesh Basavareddy,Ethan Quinn,"5-7, 7-5, 6-2",Columbus Challenger,50/91,74/115,37/50,47/74,...,6/16,4/9,52/115,31/91,112/206,94/206,4,2,5,10
42,2024-09-24,1st round,Ethan Quinn,Brandon Holt,"7-64, 7-65",Charleston Challenger,62/112,56/81,43/62,45/56,...,1/4,1/13,25/81,41/112,96/193,97/193,4,0,10,13
43,2024-09-27,2nd round,Nishesh Basavareddy,Ethan Quinn,"6-2, 7-5",Charleston Challenger,32/58,47/80,24/32,33/47,...,5/10,2/4,39/80,21/58,76/138,62/138,2,5,1,0
44,2024-10-01,1st round,Alexis Galarneau,Ethan Quinn,"7-5, 7-64",Tiburon Challenger,40/76,50/72,34/40,39/50,...,1/2,0/9,22/72,18/76,80/148,68/148,3,2,4,4
45,2024-10-08,1st round,Ethan Quinn,Carl Emil Overbeck,"6-3, 6-0",Fairfield Challenger,23/36,23/43,21/23,13/23,...,NaN,NaN,24/43,8/36,52/79,27/79,1,4,0,1
46,2024-10-10,2nd round,Ethan Quinn,Rudy Quan,"6-3, 2-6, 6-2",Fairfield Challenger,41/72,66/86,26/41,35/66,...,6/12,4/4,42/86,31/72,83/158,75/158,1,2,4,0
47,2024-10-11,1/4,Tristan Schoolkate,Ethan Quinn,"6-0, 6-73, 7-63",Fairfield Challenger,53/102,65/112,38/53,44/65,...,6/12,3/6,50/112,38/102,114/214,100/214,4,3,5,2
48,2024-10-21,1st round,Patrick Kypson,Ethan Quinn,"6-3, 6-75, 6-3",Sioux Falls,61/103,53/86,45/61,40/53,...,3/5,1/7,32/86,32/103,103/189,86/189,0,5,14,7
49,2024-10-29,1st round,Ethan Quinn,Enzo Couacaud,"6-1, 7-67",Charlottesville Challenger,46/65,32/65,35/46,25/32,...,3/7,1/1,27/65,19/65,73/130,57/130,0,6,4,4

In [393]:
def player_profile(url):
    
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html')
    
    table = soup.find_all('table', class_ = 'table_pmatches')[1]
    rows = table.find_all('td', class_='w50')
    
    
    match_links = []

    for a in table.find_all('a', href=True):
        if "https://www.tennislive.net/atp/match/" in a['href']:
            match_links.append(a['href'])
            
    return extract_match_data(match_links)


# (edit this function to accomodate for missing stats error)
#     - so copy and paste the function to edit it before this cell
    
#     output dataframe

In [394]:
url = 'https://www.tennislive.net/atp/govind-nanda/'
player_profile(url)

,Date,Round,Player 1,Player 2,Score,Tournament,1st_serve_percentage_player1,1st_serve_percentage_player2,1st_serve_points_won_player1,1st_serve_points_won_player2,...,break_points_won_player1,break_points_won_player2,total_return_points_won_player1,total_return_points_won_player2,total_points_won_player1,total_points_won_player2,double_faults_player1,double_faults_player2,aces_player1,aces_player2
0,2022-10-25,1st round,Govind Nanda,Nicolas Mejia,"7-61, 6-4",Las Vegas,41/69,42/77,31/41,26/42,...,3/8,2/8,33/77,24/69,78/146,68/146,1,3,1,4
1,2022-10-27,2nd round,Alexis Galarneau,Govind Nanda,"6-1, 2-1, - retired",Las Vegas,14/28,26/34,10/14,10/26,...,4/8,1/2,20/34,10/28,38/62,24/62,1,0,1,2
2,2023-01-06,1st round,Learner Tien,Govind Nanda,"6-1, 6-75, 11-9",M25 Malibu,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
3,2023-01-25,1st round,Govind Nanda,Huzaifa Abdul Rehman,"6-4, 6-4",M25 Wesley,53/82,52/82,33/53,31/52,...,4/15,2/14,38/82,33/82,87/164,77/164,1,3,1,3
4,2023-01-26,2nd round,Matthew Segura,Govind Nanda,"2-6, 7-63, 6-1",M25 Wesley,57/90,56/90,36/57,31/56,...,6/11,5/11,45/90,40/90,95/180,85/180,6,5,0,2
5,2023-04-17,q 1,Govind Nanda,Aidan Kim,"6-4, 6-2",Tallahassee Challenger,43/73,37/83,33/43,23/37,...,3/6,0/7,39/83,25/73,87/156,69/156,1,9,2,0
6,2023-04-17,qual.,Federico Agustin Gomez,Govind Nanda,"6-1, 6-4",Tallahassee Challenger,29/62,34/48,26/29,20/34,...,4/8,1/4,24/48,22/62,64/110,46/110,6,1,4,0
7,2023-04-23,q 1,Govind Nanda,Isaiah Strode,"2-6, 7-62, 6-3",Savannah Challenger,64/100,43/88,39/64,30/43,...,4/9,5/12,36/88,41/100,95/188,93/188,0,5,1,4
8,2023-04-24,qual.,Kyrian Jacquet,Govind Nanda,"7-5, 6-1",Savannah Challenger,30/59,30/53,19/30,16/30,...,5/7,2/4,27/53,24/59,62/112,50/112,5,2,1,2
9,2023-05-02,1st round,Govind Nanda,Thomas Brown,"7-64, 2-6, 6-3",M15 Orange,61/100,64/84,41/61,45/64,...,2/3,3/8,28/84,37/100,91/184,93/184,0,4,10,1
10,2023-05-04,2nd round,Govind Nanda,Huzaifa Abdul Rehman,"6-3, 6-2",M15 Orange,31/50,27/48,22/31,15/27,...,5/9,2/3,24/48,16/50,58/98,40/98,0,4,4,0
11,2023-05-05,1/4,Roberto Cid Subervi,Govind Nanda,"6-2, 6-3",M15 Orange,35/53,42/69,20/35,16/42,...,7/14,3/6,39/69,24/53,68/122,54/122,1,0,2,0
12,2023-06-07,1st round,Alexander Kotzen,Govind Nanda,"7-5, 6-1",M15 San,33/50,39/58,25/33,23/39,...,4/9,0/1,26/58,12/50,64/108,44/108,0,2,2,1
13,2024-06-12,1st round,Liam Draxl,Govind Nanda,"6-1, 6-3",M25 Wichita,33/44,29/47,22/33,14/29,...,6/8,2/3,27/47,15/44,56/91,35/91,0,1,1,3
14,2024-06-19,1st round,Govind Nanda,Jerry Roddick,"4-6, 6-4, 6-3",M25 Tulsa,60/98,53/88,40/60,29/53,...,7/13,5/11,42/88,42/98,98/186,88/186,2,5,11,6
15,2024-06-20,2nd round,Govind Nanda,Bruno Kuzuhara,"7-65, 6-2",M25 Tulsa,56/82,68/83,39/56,41/68,...,3/5,1/7,36/83,30/82,88/165,77/165,1,2,5,1
16,2024-06-21,1/4,Bernard Tomic,Govind Nanda,"6-3, 6-1",M25 Tulsa,33/70,28/48,27/33,16/28,...,5/7,1/10,24/48,27/70,67/118,51/118,2,1,7,0
17,2024-07-01,q 1,Govind Nanda,Abraham Asaba,"6-1, 6-3",M15 Lakewood,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
18,2024-07-02,qual.,Govind Nanda,Jelani Sarr,"6-4, 7-65",M15 Lakewood,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
19,2024-07-03,1st round,Govind Nanda,Alexander Petrov,"4-6, 6-0, 6-1",M15 Lakewood,38/61,57/88,28/38,26/57,...,8/13,3/10,49/88,22/61,88/149,61/149,0,7,4,3
20,2024-07-04,2nd round,Govind Nanda,Noah Zamora,"6-2, 6-2",M15 Lakewood,47/71,37/65,31/47,18/37,...,5/13,1/8,34/65,28/71,77/136,59/136,4,1,0,1
21,2024-07-05,1/4,Govind Nanda,Jack Anthrop,"6-4, 6-4",M15 Lakewood,37/55,44/63,26/37,29/44,...,3/7,1/1,24/63,18/55,61/118,57/118,1,1,5,1
22,2024-07-06,1/2,Govind Nanda,Karue Sell,"6-4, 6-1",M15 Lakewood,27/41,39/74,24/27,22/39,...,NaN,NaN,34/74,9/41,66/115,49/115,1,3,1,3
23,2024-07-07,fin,Govind Nanda,Stefan Dostanic,"6-4, 5-7, 7-5",M15 Lakewood,74/113,63/103,47/74,37/63,...,5/10,4/12,43/103,43/113,113/216,103/216,2,5,1,5
24,2024-07-10,1st round,Govind Nanda,Alan Fernando Rubio Fierros,"6-4, 6-2",M15 Lakewood,39/61,37/60,25/39,22/37,...,5/10,2/6,31/60,24/61,68/121,53/121,2,5,1,0
25,2024-07-11,2nd round,Govind Nanda,Arda Azkara,"6-2, 2-0, - retired",M15 Lakewood,17/30,19/45,10/17,10/19,...,3/8,0/3,25/45,9/30,46/75,29/75,1,4,1,0
26,2024-07-12,1/4,Govind Nanda,Kyle Kang,"4-6, 7-62, 7-67",M15 Lakewood,87/124,81/117,57/87,49/81,...,4/9,5/8,48/117,49/124,123/241,118/241,5,1,1,1
27,2024-07-13,1/2,Govind Nanda,Karl Lee,"2-6, 7-5, 6-2",M15 Lakewood,71/116,51/83,40/71,24/51,...,7/11,6/21,42/83,56/116,102/199,97/199,2,1,2,2
28,2024-07-14,fin,Learner Tien,Govind Nanda,"6-3, 6-3",M15 Lakewood,38/59,36/62,29/38,19/36,...,4/8,1/4,30/62,19/59,70/121,51/121,0,1,2,1
29,2024-07-21,q 1,Tung-Lin Wu,Govind Nanda,"6-2, 6-4",Chicago Challenger,35/60,35/52,22/35,24/35,...,4/6,1/4,24/52,21/60,63/112,49/112,4,3,2,4
30,2024-07-29,q 1,Rodrigo Pacheco Mendez,Govind Nanda,"6-0, 6-3",Lexington Challenger,24/48,33/54,20/24,19/33,...,4/4,0/3,28/54,13/48,63/102,39/102,5,1,0,0
31,2024-08-06,1st round,Tyler Stice,Govind Nanda,"6-4, 6-4",M25 Southaven,45/75,43/73,28/45,25/43,...,6/12,4/11,39/73,33/75,81/148,67/148,2,1,0,1
32,2024-09-10,1st round,Kaylan Bigun,Govind Nanda,"6-4, 6-4",Las Vegas,26/52,48/75,20/26,32/48,...,3/12,1/2,32/75,14/52,70/127,57/127,4,3,2,2
33,2024-09-15,q 1,Jack Pinnington Jones,Govind Nanda,"6-1, 2-6, 6-2",Columbus Challenger,48/85,58/96,37/48,33/58,...,4/14,2/7,43/96,34/85,94/181,87/181,6,0,5,4
34,2024-09-22,q 1,Govind Nanda,Cannon Kingsley,"6-3, 6-3",Charleston Challenger,28/56,31/56,18/28,21/31,...,5/8,2/3,29/56,22/56,63/112,49/112,0,2,2,7
35,2024-09-23,qual.,Govind Nanda,Ryan Peniston,"6-4, 6-4",Charleston Challenger,34/53,34/64,19/34,22/34,...,7/13,5/6,34/64,24/53,63/117,54/117,0,4,2,2
36,2024-09-24,1st round,Ernesto Escobedo,Govind Nanda,"6-2, 6-4",Charleston Challenger,40/67,52/80,28/40,32/52,...,3/8,0/2,37/80,22/67,82/147,65/147,2,2,9,4
37,2024-09-29,q 1,Govind Nanda,Bor Artnak,"6-4, 6-2",Tiburon Challenger,44/70,37/60,29/44,22/37,...,5/8,2/9,31/60,28/70,73/130,57/130,6,3,4,1
38,2024-09-30,qual.,Govind Nanda,Patrick Zahraj,"6-4, 3-1, - retired",Tiburon Challenger,22/39,29/48,17/22,18/29,...,3/5,1/1,22/48,12/39,49/87,38/87,1,1,1,0
39,2024-10-01,1st round,Learner Tien,Govind Nanda,"7-67, 6-1",Tiburon Challenger,38/70,31/62,30/38,21/31,...,3/5,1/3,26/62,24/70,72/132,60/132,4,2,6,2
40,2024-10-06,q 1,Keegan Smith,Govind Nanda,"6-4, 5-7, 7-65",Fairfield Challenger,80/118,64/104,48/80,50/64,...,3/6,3/9,32/104,44/118,106/222,116/222,2,4,11,2
41,2024-10-13,q 1,Govind Nanda,Collin Altamirano,"7-61, 6-2",Calgary Challenger,26/58,25/67,21/26,16/25,...,4/6,2/6,33/67,15/58,76/125,49/125,2,6,0,3
42,2024-10-14,qual.,Govind Nanda,Patrick Zahraj,"7-5, 6-0",Calgary Challenger,32/45,30/53,27/32,22/30,...,5/8,1/1,29/53,11/45,63/98,35/98,0,9,2,6
43,2024-10-15,1st round,Govind Nanda,Tim Handel,"6-4, 6-2",Calgary Challenger,26/51,37/59,21/26,23/37,...,4/8,1/2,28/59,15/51,64/110,46/110,4,6,4,1
44,2024-10-17,2nd round,Govind Nanda,James Kent Trotter,"3-6, 6-4, 6-2",Calgary Challenger,39/64,53/91,25/39,36/53,...,5/11,3/3,38/91,23/64,79/155,76/155,2,7,1,9
45,2024-10-18,1/4,Govind Nanda,Maks Kasnikowski,"7-65, 6-75, 7-5",Calgary Challenger,72/127,66/118,50/72,41/66,...,5/7,4/12,46/118,50/127,123/245,122/245,5,2,6,6
46,2024-10-19,1/2,Govind Nanda,Liam Draxl,"6-2, 6-4",Calgary Challenger,27/58,33/51,22/27,19/33,...,5/10,2/5,25/51,22/58,61/109,48/109,1,4,3,2
47,2024-10-20,fin,Murphy Cassone,Govind Nanda,"4-6, 6-3, 6-4",Calgary Challenger,53/88,47/87,37/53,35/47,...,5/9,4/9,36/87,33/88,91/175,84/175,3,1,5,5
48,2024-10-22,1st round,Govind Nanda,Nishesh Basavareddy,"6-4, 6-4",Sioux Falls,37/66,33/62,22/37,22/33,...,3/5,1/1,24/62,23/66,67/128,61/128,1,4,2,4
49,2024-10-23,2nd round,Ozan Baris,Govind Nanda,"7-64, 6-4",Sioux Falls,44/70,59/99,26/44,36/59,...,4/11,3/6,49/99,30/70,89/169,80/169,0,3,0,1

In [395]:
url = 'https://www.tennislive.net/atp/rudy-quan/'
player_profile(url)

,Date,Round,Player 1,Player 2,Score,Tournament,1st_serve_percentage_player1,1st_serve_percentage_player2,1st_serve_points_won_player1,1st_serve_points_won_player2,...,break_points_won_player1,break_points_won_player2,total_return_points_won_player1,total_return_points_won_player2,total_points_won_player1,total_points_won_player2,double_faults_player1,double_faults_player2,aces_player1,aces_player2
0,2023-03-24,2nd round,Andrew Rogers,Rudy Quan,"6-3, 6-3",M25 Calabasas,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
1,2023-05-29,q 1,Rudy Quan,William Chase Thompson,"6-3, 1-6, 10-5",M15 Rancho,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
2,2023-05-30,qual.,Rudy Quan,Piotr Galus,"3-6, 6-4, 10-4",M15 Rancho,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
3,2023-05-31,1st round,Connor Farren,Rudy Quan,"7-64, 6-3",M15 Rancho,39/66,31/64,31/39,22/31,...,3/4,2/5,27/64,20/66,73/130,57/130,5,4,7,1
4,2023-06-05,q 1,Rohan Murali,Rudy Quan,"6-1, 7-60",M15 San,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
5,2023-06-12,q 1,Rudy Quan,James Watt,"7-63, 7-66",M15 San,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
6,2023-06-13,qual.,Ryan Seggerman,Rudy Quan,"6-3, 6-71, 10-4",M15 San,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
7,2023-06-19,q 1,Rudy Quan,Marco Alvarez,"6-0, 6-3",M15 Los,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
8,2023-06-20,qual.,Daniel De Jonge,Rudy Quan,"6-4, 6-2",M15 Los,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
9,2023-06-26,q 1,Rudy Quan,Neel Joshi,"6-2, 6-2",M15 Irvine,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
10,2023-06-27,qual.,Rudy Quan,Giacomo Revelli,"5-7, 6-1, 10-6",M15 Irvine,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
11,2023-06-28,1st round,Learner Tien,Rudy Quan,"6-3, 6-4",M15 Irvine,45/70,41/69,22/45,17/41,...,7/15,4/17,40/69,34/70,76/139,63/139,2,3,2,1
12,2023-07-05,1st round,Alexander Kotzen,Rudy Quan,"6-4, 4-6, 6-2",M15 Lakewood,52/81,71/100,35/52,46/71,...,4/9,2/2,42/100,28/81,95/181,86/181,2,6,4,1
13,2023-10-18,1st round,Andres Andrade,Rudy Quan,"6-0, 6-1",M15 Las,18/39,36/49,14/18,12/36,...,6/14,0/4,31/49,10/39,60/88,28/88,3,4,2,0
14,2023-10-23,q 1,Rudy Quan,Ryan Silva,"6-0, 6-0",M25 Harlingen,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
15,2023-10-24,qual.,Rudy Quan,Elias Sumann,"6-2, 4-6, 10-6",M25 Harlingen,49/60,42/73,25/49,21/42,...,5/14,4/6,39/73,30/60,69/133,64/133,3,7,1,0
16,2023-10-25,1st round,Rudy Quan,Andres Martin,"6-3, 6-4",M25 Harlingen,41/59,46/76,27/41,19/46,...,8/17,5/6,46/76,29/59,76/135,59/135,6,4,0,6
17,2023-10-26,2nd round,Ivan Marrero Curbelo,Rudy Quan,"6-2, 6-1",M25 Harlingen,38/55,29/43,25/38,13/29,...,6/7,1/7,25/43,21/55,59/98,39/98,4,1,,
18,2023-11-16,1st round,Alexander Razeghi,Rudy Quan,"3-6, 6-3, 10-6",M15 Boca,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
19,2024-01-15,q 1,Rudy Quan,Alex Kobelt,"2-6, 7-64, 10-7",M25 Ithaca,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
20,2024-01-16,qual.,Rudy Quan,Pranav Kumar,"6-4, 6-0",M25 Ithaca,36/54,30/51,23/36,15/30,...,4/5,0/3,26/51,17/54,63/105,42/105,1,4,1,2
21,2024-01-17,1st round,Adit Sinha,Rudy Quan,"6-2, 6-0",M25 Ithaca,22/43,16/35,19/22,9/16,...,5/5,0/3,21/35,12/43,52/78,26/78,2,3,4,0
22,2024-01-22,q 1,Rudy Quan,Cedric Stanke,"6-2, 6-2",M25 Wesley,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
23,2024-01-23,qual.,Rudy Quan,Pranav Kumar,"6-3, 6-3",M25 Wesley,44/62,35/53,28/44,18/35,...,5/7,2/6,28/53,25/62,65/115,50/115,1,6,1,0
24,2024-01-24,1st round,Rudy Quan,Karue Sell,"6-4, 6-3",M25 Wesley,37/60,34/67,27/37,21/34,...,5/14,3/8,34/67,24/60,70/127,57/127,5,2,1,2
25,2024-01-25,2nd round,Gilles Arnaud Bailly,Rudy Quan,"6-4, 6-1",M25 Wesley,36/51,30/52,27/36,18/30,...,4/10,1/2,26/52,17/51,60/103,43/103,2,6,0,1
26,2024-02-12,q 1,Arthur Bonnaud,Rudy Quan,"6-74, 6-4, 10-5",M15 Palm,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
27,2024-04-24,1st round,Rudy Quan,Nathan Ponwith,"6-0, 7-65",M15 Vero,38/61,31/65,23/38,15/31,...,7/11,4/12,37/65,26/61,72/126,54/126,1,6,,
28,2024-04-25,2nd round,Rudy Quan,Cooper Woestendick,"6-3, 6-2",M15 Vero,42/53,29/47,26/42,13/29,...,6/7,3/7,30/47,22/53,61/100,39/100,3,4,0,3
29,2024-04-26,1/4,Garrett Johns,Rudy Quan,"6-4, 6-4",M15 Vero,41/62,46/63,29/41,25/46,...,5/10,3/6,34/63,25/62,71/125,54/125,1,4,4,0
30,2024-05-01,1st round,Rudy Quan,Victor Lilov,"6-4, 6-4",M15 Orange,42/59,34/62,22/42,18/34,...,5/9,3/10,31/62,25/59,65/121,56/121,0,4,1,1
31,2024-05-02,2nd round,Rudy Quan,Jonas Pelle Hartenstein,- walk over,M15 Orange,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
32,2024-05-03,1/4,Rudy Quan,Andres Andrade,"7-64, 7-5",M15 Orange,60/77,46/82,31/60,22/46,...,7/10,6/8,47/82,39/77,85/159,74/159,2,2,1,0
33,2024-05-04,1/2,Duarte Vale,Rudy Quan,"6-4, 4-6, 6-2",M15 Orange,47/91,82/113,28/47,43/82,...,7/21,5/8,59/113,43/91,107/204,97/204,9,6,4,0
34,2024-05-26,q 1,Rudy Quan,Shintaro Imai,"4-6, 6-4, 6-2",Little Rock,55/76,54/118,36/55,34/54,...,6/19,4/6,55/118,30/76,101/194,93/194,2,9,0,15
35,2024-05-27,qual.,Rudy Quan,Filip Peliwo,"6-4, 6-2",Little Rock,36/51,23/49,20/36,12/23,...,7/7,4/8,32/49,25/51,58/100,42/100,1,4,0,1
36,2024-05-28,1st round,Rudy Quan,Stefan Kozlov,"6-1, 7-5",Little Rock,42/62,41/58,25/42,19/41,...,6/11,3/6,34/58,27/62,69/120,51/120,1,3,0,0
37,2024-05-30,2nd round,Rudy Quan,Andres Andrade,"6-3, 3-6, 6-3",Little Rock,59/84,44/89,32/59,25/44,...,8/17,6/9,48/89,42/84,90/173,83/173,7,10,1,3
38,2024-05-31,1/4,Yuta Shimizu,Rudy Quan,"6-4, 6-3",Little Rock,37/55,64/80,21/37,29/64,...,7/16,4/7,44/80,25/55,74/135,61/135,1,2,4,0
39,2024-06-04,1st round,Alexis Galarneau,Rudy Quan,"6-2, 7-5",Tyler Challenger,34/58,31/60,26/34,17/31,...,5/9,2/6,30/60,20/58,68/118,50/118,0,3,5,3
40,2024-07-10,1st round,Rudy Quan,Ryan Dickerson,"4-6, 6-4, 6-0",M15 Lakewood,55/74,48/77,35/55,25/48,...,8/15,5/8,42/77,31/74,85/151,66/151,4,5,1,3
41,2024-07-11,2nd round,Rudy Quan,Preston Stearns,"7-5, 4-6, 6-2",M15 Lakewood,86/110,68/103,54/86,41/68,...,6/13,4/11,48/103,45/110,113/213,100/213,5,5,1,3
42,2024-07-12,1/4,Learner Tien,Rudy Quan,"6-4, 7-64",M15 Lakewood,51/79,55/80,31/51,29/55,...,6/10,5/13,41/80,37/79,83/159,76/159,2,5,4,0
43,2024-09-01,1st round,Rudy Quan,Viktor Frydrych,"7-5, 6-1",U.S. Open,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
44,2024-09-02,2nd round,Rafael Jodar,Rudy Quan,"3-6, 6-4, 6-3",U.S. Open,None,None,None,None,...,NaN,NaN,None,None,None,None,None,None,None,None
45,2024-10-06,q 1,Rudy Quan,Patrick Zahraj,"7-5, 6-1",Fairfield Challenger,41/65,33/62,27/41,23/33,...,5/8,2/8,32/62,23/65,74/127,53/127,1,8,0,6
46,2024-10-07,qual.,Rudy Quan,Keegan Smith,"6-3, 6-0",Fairfield Challenger,42/54,28/44,29/42,11/28,...,4/6,0/3,23/44,16/54,61/98,37/98,0,2,1,2
47,2024-10-08,1st round,Rudy Quan,Guy Den Ouden,"3-6, 6-3, 6-4",Fairfield Challenger,72/92,47/79,52/72,32/47,...,3/5,2/8,29/79,31/92,90/171,81/171,4,6,0,2
48,2024-10-10,2nd round,Ethan Quinn,Rudy Quan,"6-3, 2-6, 6-2",Fairfield Challenger,41/72,66/86,26/41,35/66,...,6/12,4/4,42/86,31/72,83/158,75/158,1,2,4,0
49,2024-10-20,q 1,Borna Gojo,Rudy Quan,"4-6, 6-1, 6-1",Sioux Falls,37/60,56/78,27/37,29/56,...,6/15,2/2,41/78,18/60,83/138,55/138,2,2,6,3

player_data.to_csv(f'GovindNanda_profile.csv', index=False)

# Point by Point (PBP) Dataframe

In [3]:
page = requests.get('https://www.tennislive.net/atp/match/borna-gojo-VS-rudy-quan/sioux-falls-challenger-2024/')

In [4]:
soup = BeautifulSoup(page.text, 'html')

### Check Status Code
- 200 = success
- 404 = failed

In [5]:
page.status_code

200

### Find HTML Tags that Have Point By Point (PBP) Data

The `table` tag with the class `table_stats_match` contains all the info needed for the point by point data.

In [6]:
table = soup.find_all('table', class_ = 'table_stats_match')
# table[1]

### First Set HTML

In [7]:
set_1 = soup.find_all('table', class_='table_stats_match')[1].find_all('tr', class_=None)
set_1[0]

<tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">0-0</td><td class="mp_serve" width="40%"></td></tr>

### Example of Getting Server of First Game

In [8]:
' '.join(set_1[0].find('img')['alt'].split()[0:2])

'Borna Gojo'

### Example of Extracting PBP From First Game

In [9]:
set_1[1].find('td')

Here we replace `[BP]` with signifies a "break-point" in the game with empty strings to keep the point data consistent. Then we can simply split the string into the points.

In [10]:
set_1[1].find('td').text.replace('[BP]', '').split(', ')

['0-0', '15-0', '15-15', '30-15', '30-30', '30-40']

### Example of Creating a PBP DataFrame from Set 1

In [11]:
# initialize lists to hold each of the designated values
server_names = []
point_scores = []
game_scores = []

# iterate over all the `tr` tags in set_1
# step over by 2 since each server and PBP data is paired together
for i in range(0, len(set_1), 2):
    # extract the data from the tr
    server_name = ' '.join(set_1[i].find('img')['alt'].split()[0:2])
    game_score = set_1[i].find('td', class_='mp_info_txt').text.strip()
    points = set_1[i + 1].find('td').text.replace('[BP]', '').split(', ')
    
    # create a row for each point in the game
    for point in points:
        server_names.append(server_name)
        point_scores.append(point)
        game_scores.append(game_score)

In [12]:
# construct the dataframe 
df = pd.DataFrame({
    'point_score': point_scores,
    'server_name': server_names,
    'game_score': game_scores
})

# replace the last known score with 0-0 since the score
# doesn't update between sets
df = df.replace(df['game_score'].iloc[-1], '0-0')
df

   point_score server_name game_score
0          0-0  Borna Gojo        0-0
1         15-0  Borna Gojo        0-0
2        15-15  Borna Gojo        0-0
3        30-15  Borna Gojo        0-0
4        30-30  Borna Gojo        0-0
5        30-40  Borna Gojo        0-0
6          0-0   Rudy Quan        0-1
7         0-15   Rudy Quan        0-1
8        15-15   Rudy Quan        0-1
9        15-30   Rudy Quan        0-1
10       15-40   Rudy Quan        0-1
11         0-0  Borna Gojo        0-2
12        0-15  Borna Gojo        0-2
13        0-30  Borna Gojo        0-2
14        0-40  Borna Gojo        0-2
15         0-0   Rudy Quan        0-3
16        0-15   Rudy Quan        0-3
17        0-30   Rudy Quan        0-3
18       15-30   Rudy Quan        0-3
19       30-30   Rudy Quan        0-3
20       40-30   Rudy Quan        0-3
21       40-40   Rudy Quan        0-3
22        40-A   Rudy Quan        0-3
23         0-0  Borna Gojo        0-4
24        15-0  Borna Gojo        0-4
25        30-0  Borna Gojo        0-4
26        40-0  Borna Gojo        0-4
27         0-0   Rudy Quan        1-4
28        15-0   Rudy Quan        1-4
29        30-0   Rudy Quan        1-4
30        40-0   Rudy Quan        1-4
31         0-0  Borna Gojo        2-4
32        0-15  Borna Gojo        2-4
33        0-30  Borna Gojo        2-4
34       15-30  Borna Gojo        2-4
35       30-30  Borna Gojo        2-4
36       40-30  Borna Gojo        2-4
37         0-0   Rudy Quan        3-4
38        0-15   Rudy Quan        3-4
39        0-30   Rudy Quan        3-4
40       15-30   Rudy Quan        3-4
41       30-30   Rudy Quan        3-4
42       30-40   Rudy Quan        3-4
43         0-0  Borna Gojo        3-5
44        30-0  Borna Gojo        3-5
45        40-0  Borna Gojo        3-5
46         0-0   Rudy Quan        4-5
47        0-15   Rudy Quan        4-5
48        0-30   Rudy Quan        4-5
49       15-30   Rudy Quan        4-5
50       30-30   Rudy Quan        4-5
51       30-40   Rudy Quan        4-5
52         0-0  Borna Gojo        0-0
53        15-0  Borna Gojo        0-0
54        30-0  Borna Gojo        0-0
55       30-15  Borna Gojo        0-0
56       30-30  Borna Gojo        0-0
57       40-30  Borna Gojo        0-0

### Find and Denote Each Player to Correctly Swap the Scores

We do this because the PBP is always in the order of `player1`-`player2`. To make the dataframe easier to understand, we swap the point and game scores when the server is `player2` as the server's points are read first.

In [13]:
table = soup.find('table', class_ = 'table_pmatches')

player1 = soup.find_all('td', class_='w130')[0].text.strip()
player2 = soup.find_all('td', class_='w130')[1].text.strip()

player1, player2

('Borna Gojo', 'Rudy Quan')

In [14]:
df.iloc[3]

point_score         30-15
server_name    Borna Gojo
game_score            0-0
Name: 3, dtype: object

In [15]:
'-'.join(df['point_score'][3].split('-')[::-1])

'15-30'

In [16]:
df['point_score'] = df.apply(lambda x : '-'.join(x['point_score'].split('-')[::-1]) if x['server_name'] == player2 else x['point_score'], axis=1)
df['game_score'] = df.apply(lambda x : '-'.join(x['game_score'].split('-')[::-1]) if x['server_name'] == player2 else x['game_score'], axis=1)

In [17]:
df

   point_score server_name game_score
0          0-0  Borna Gojo        0-0
1         15-0  Borna Gojo        0-0
2        15-15  Borna Gojo        0-0
3        30-15  Borna Gojo        0-0
4        30-30  Borna Gojo        0-0
5        30-40  Borna Gojo        0-0
6          0-0   Rudy Quan        1-0
7         15-0   Rudy Quan        1-0
8        15-15   Rudy Quan        1-0
9        30-15   Rudy Quan        1-0
10       40-15   Rudy Quan        1-0
11         0-0  Borna Gojo        0-2
12        0-15  Borna Gojo        0-2
13        0-30  Borna Gojo        0-2
14        0-40  Borna Gojo        0-2
15         0-0   Rudy Quan        3-0
16        15-0   Rudy Quan        3-0
17        30-0   Rudy Quan        3-0
18       30-15   Rudy Quan        3-0
19       30-30   Rudy Quan        3-0
20       30-40   Rudy Quan        3-0
21       40-40   Rudy Quan        3-0
22        A-40   Rudy Quan        3-0
23         0-0  Borna Gojo        0-4
24        15-0  Borna Gojo        0-4
25        30-0  Borna Gojo        0-4
26        40-0  Borna Gojo        0-4
27         0-0   Rudy Quan        4-1
28        0-15   Rudy Quan        4-1
29        0-30   Rudy Quan        4-1
30        0-40   Rudy Quan        4-1
31         0-0  Borna Gojo        2-4
32        0-15  Borna Gojo        2-4
33        0-30  Borna Gojo        2-4
34       15-30  Borna Gojo        2-4
35       30-30  Borna Gojo        2-4
36       40-30  Borna Gojo        2-4
37         0-0   Rudy Quan        4-3
38        15-0   Rudy Quan        4-3
39        30-0   Rudy Quan        4-3
40       30-15   Rudy Quan        4-3
41       30-30   Rudy Quan        4-3
42       40-30   Rudy Quan        4-3
43         0-0  Borna Gojo        3-5
44        30-0  Borna Gojo        3-5
45        40-0  Borna Gojo        3-5
46         0-0   Rudy Quan        5-4
47        15-0   Rudy Quan        5-4
48        30-0   Rudy Quan        5-4
49       30-15   Rudy Quan        5-4
50       30-30   Rudy Quan        5-4
51       40-30   Rudy Quan        5-4
52         0-0  Borna Gojo        0-0
53        15-0  Borna Gojo        0-0
54        30-0  Borna Gojo        0-0
55       30-15  Borna Gojo        0-0
56       30-30  Borna Gojo        0-0
57       40-30  Borna Gojo        0-0

### Generalize the Scraping to Apply to All Sets

We'll add a new column to keep track of the set number as well to help with readability in the dataframe.

In [18]:
# 2 set example
page = requests.get('https://www.tennislive.net/atp/match/borna-gojo-VS-rudy-quan/sioux-falls-challenger-2024/')

In [19]:
soup = BeautifulSoup(page.text, 'html')

In [20]:
def extract_point_by_point(url):
    # get HTML from url and convert to BeautifulSoup
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html')
    
    # find player names
    table = soup.find('table', class_ = 'table_pmatches')
    player1 = soup.find_all('td', class_='w130')[0].text.strip()
    player2 = soup.find_all('td', class_='w130')[1].text.strip()
    
    # get all set data
    content = soup.find_all('table', class_='table_stats_match')[1:]

    # initialize list to hold data for all sets
    set_dfs = []

#     for j in range(len(content)-1): #### maybe this???
    for j in range(len(content)):
        # initialize lists to hold each of the designated values
        server_names = []
        point_scores = []
        game_scores = []
        set_num = []
        is_break_points = []

        # get all table data for the current set
        current_set = content[j].find_all('tr', class_=None)

        # determine starting tag by how the table is formatted
        start = 0
        if not current_set[1].find('td', class_='mp_15'):
            start = 1

        # iterate over all the `tr` tags in set_1
        # step over by 2 since each server and PBP data is paired together
        for i in range(start, len(current_set), 2):
            # extract the data from the tr
            server_name = ' '.join(current_set[i].find('img')['alt'].split()[0:-1])
            game_score = current_set[i].find('td', class_='mp_info_txt').text.strip()
            points = current_set[i + 1].find('td').text.split(', ')

            # create a new row for each point
            for point in points:
                
                if '[BP]' in point:
                    is_break_point = True
                    point = point.replace('[BP]', '').strip()
                else:
                    is_break_point = False

                server_names.append(server_name)
                point_scores.append(point)
                game_scores.append(game_score)
                set_num.append(j + 1)
                is_break_points.append(is_break_point)

        # construct the dataframe
        df = pd.DataFrame({
            'pointScore': point_scores,
            'serverName': server_names,
            'gameScore': game_scores,
            'setNum': set_num,
            'isBreakPoint': is_break_points
        })

        last_game_score = df['gameScore'].iloc[-1]

        if '6' in last_game_score and (last_game_score != '6-6' and last_game_score != '6-5' and last_game_score != '5-6'):
            df.loc[df['gameScore'] == df['gameScore'].iloc[-1], 'setNum'] += 1
            df.loc[df['gameScore'] == df['gameScore'].iloc[-1], 'gameScore'] = '0-0' 

            # switch server names when in tiebreaker        
        if '6-6' in last_game_score or '0-0' in last_game_score:
            tiebreaker_df = df[df['gameScore'] == last_game_score]
            tiebreaker_rows = df.shape[0] - tiebreaker_df.shape[0]
            server = tiebreaker_df['serverName'].iloc[0]

            if player1 != server:
                server = player1

            for i in range(1, len(tiebreaker_df), 4):
                df.loc[tiebreaker_rows + i:tiebreaker_rows + i + 1, 'serverName'] = server
                
        set_dfs.append(df)
        
    df = pd.concat(set_dfs).reset_index(drop=True)    

    # flip point_score and game_score of player2
    df['pointScore'] = df.apply(lambda x : '-'.join(x['pointScore'].split('-')[::-1]) if x['serverName'] == player2 else x['pointScore'], axis=1)
    df['gameScore'] = df.apply(lambda x : '-'.join(x['gameScore'].split('-')[::-1]) if x['serverName'] == player2 else x['gameScore'], axis=1)
    
    return df

In [21]:
url = 'https://www.tennislive.net/atp/match/borna-gojo-VS-rudy-quan/sioux-falls-challenger-2024/'
extract_point_by_point(url)

IndexError: list index out of range

In [22]:
url = 'https://www.tennislive.net/atp/match/govind-nanda-VS-karue-sell/m15-lakewood-2024/'
extract_point_by_point(url)

    pointScore    serverName gameScore  setNum  isBreakPoint
0          0-0  Govind Nanda       0-0       1         False
1         0-15  Govind Nanda       0-0       1         False
2         0-30  Govind Nanda       0-0       1         False
3         0-40  Govind Nanda       0-0       1          True
4          0-0    Karue Sell       1-0       1         False
..         ...           ...       ...     ...           ...
110       A-40  Govind Nanda       5-1       2         False
111      40-40  Govind Nanda       5-1       2         False
112       A-40  Govind Nanda       5-1       2         False
113      40-40  Govind Nanda       5-1       2         False
114       A-40  Govind Nanda       5-1       2         False

[115 rows x 5 columns]

In [23]:
url = 'https://www.tennislive.net/atp/match/borna-gojo-VS-rudy-quan/sioux-falls-challenger-2024/'
# url = 'https://www.tennislive.net/atp/match/govind-nanda-VS-karue-sell/m15-lakewood-2024/'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
    
# find player names
table = soup.find('table', class_ = 'table_pmatches')
player1 = soup.find_all('td', class_='w130')[0].text.strip()
player2 = soup.find_all('td', class_='w130')[1].text.strip()

# get all set data
content = soup.find_all('table', class_='table_stats_match')[1:]

# initialize list to hold data for all sets
set_dfs = []

content
# for j in range(len(content)):
#     # initialize lists to hold each of the designated values
#     server_names = []
#     point_scores = []
#     game_scores = []
#     set_num = []
#     is_break_points = []

#     # get all table data for the current set
#     current_set = content[j].find_all('tr', class_=None)

#     # determine starting tag by how the table is formatted
#     start = 0
#     if not current_set[1].find('td', class_='mp_15'):
#         start = 1
        

#     # iterate over all the `tr` tags in set_1
#     # step over by 2 since each server and PBP data is paired together
#     for i in range(start, len(current_set), 2):
#         # extract the data from the tr
#         server_name = ' '.join(current_set[i].find('img')['alt'].split()[0:-1])
#         game_score = current_set[i].find('td', class_='mp_info_txt').text.strip()
#         points = current_set[i + 1].find('td').text.split(', ')
        
# len(points)

#######

#         # create a new row for each point
#         for point in points:

#             if '[BP]' in point:
#                 is_break_point = True
#                 point = point.replace('[BP]', '').strip()
#             else:
#                 is_break_point = False

#             server_names.append(server_name)
#             point_scores.append(point)
#             game_scores.append(game_score)
#             set_num.append(j + 1)
#             is_break_points.append(is_break_point)

#     # construct the dataframe
#     df = pd.DataFrame({
#         'pointScore': point_scores,
#         'serverName': server_names,
#         'gameScore': game_scores,
#         'setNum': set_num,
#         'isBreakPoint': is_break_points
#     })

#     last_game_score = df['gameScore'].iloc[-1]

#     if '6' in last_game_score and (last_game_score != '6-6' and last_game_score != '6-5' and last_game_score != '5-6'):
#         df.loc[df['gameScore'] == df['gameScore'].iloc[-1], 'setNum'] += 1
#         df.loc[df['gameScore'] == df['gameScore'].iloc[-1], 'gameScore'] = '0-0' 

#         # switch server names when in tiebreaker        
#     if '6-6' in last_game_score or '0-0' in last_game_score:
#         tiebreaker_df = df[df['gameScore'] == last_game_score]
#         tiebreaker_rows = df.shape[0] - tiebreaker_df.shape[0]
#         server = tiebreaker_df['serverName'].iloc[0]

#         if player1 != server:
#             server = player1

#         for i in range(1, len(tiebreaker_df), 4):
#             df.loc[tiebreaker_rows + i:tiebreaker_rows + i + 1, 'serverName'] = server

#     set_dfs.append(df)

# df = pd.concat(set_dfs).reset_index(drop=True)    

# # flip point_score and game_score of player2
# df['pointScore'] = df.apply(lambda x : '-'.join(x['pointScore'].split('-')[::-1]) if x['serverName'] == player2 else x['pointScore'], axis=1)
# df['gameScore'] = df.apply(lambda x : '-'.join(x['gameScore'].split('-')[::-1]) if x['serverName'] == player2 else x['gameScore'], axis=1)

[<table class="table_stats_match"><tr class="mp_tour_head"><td colspan="3" width="100%">1</td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">0-0</td><td class="mp_serve" width="40%"></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 15-15, 30-15, 30-30, 30-40<span title="Break point">[BP]</span></td></tr><tr><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">0-1</td><td class="mp_serve" width="40%">Rudy Quan <img alt="Rudy Quan serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Rudy Quan serve" width="8"/></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 0-15, 15-15, 15-30, 15-40</td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">0-2</td><td class="mp_serve" width="40%"></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 0-15, 0-30, 0-40<span title="Break point">[BP]</span></td></tr><tr><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">0-3</td><td class="mp_serve" width="40%">Rudy Quan <img alt="Rudy Quan serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Rudy Quan serve" width="8"/></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 0-15, 0-30, 15-30, 30-30, 40-30<span title="Break point">[BP]</span>, 40-40, 40-A</td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">0-4</td><td class="mp_serve" width="40%"></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 30-0, 40-0</td></tr><tr><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">1-4</td><td class="mp_serve" width="40%">Rudy Quan <img alt="Rudy Quan serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Rudy Quan serve" width="8"/></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 30-0, 40-0<span title="Break point">[BP]</span></td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">2-4</td><td class="mp_serve" width="40%"></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 0-15, 0-30, 15-30, 30-30, 40-30</td></tr><tr><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">3-4</td><td class="mp_serve" width="40%">Rudy Quan <img alt="Rudy Quan serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Rudy Quan serve" width="8"/></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 0-15, 0-30, 15-30, 30-30, 30-40</td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">3-5</td><td class="mp_serve" width="40%"></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 30-0, 40-0</td></tr><tr><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">4-5</td><td class="mp_serve" width="40%">Rudy Quan <img alt="Rudy Quan serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Rudy Quan serve" width="8"/></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 0-15, 0-30, 15-30, 30-30, 30-40</td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">4-6</td><td class="mp_serve" width="40%"></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 30-0, 30-15, 30-30, 40-30</td></tr><tr class="result"><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">4-6</td><td class="mp_serve" width="40%"></td></tr></table>,
 <table class="table_stats_match"><tr class="mp_tour_head"><td colspan="3" width="100%">2</td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">0-0</td><td class="mp_serve" width="40%"></td></tr><tr><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">1-0</td><td class="mp_serve" width="40%">Rudy Quan <img alt="Rudy Quan serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Rudy Quan serve" width="8"/></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 15-15, 30-15, 30-30, 30-40</td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">1-1</td><td class="mp_serve" width="40%"></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 15-15, 30-15, 40-15</td></tr><tr><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">2-1</td><td class="mp_serve" width="40%">Rudy Quan <img alt="Rudy Quan serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Rudy Quan serve" width="8"/></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 15-15, 30-15, 40-15<span title="Break point">[BP]</span></td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">3-1</td><td class="mp_serve" width="40%"></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 30-0, 40-0</td></tr><tr><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">4-1</td><td class="mp_serve" width="40%">Rudy Quan <img alt="Rudy Quan serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Rudy Quan serve" width="8"/></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 30-0, 40-0<span title="Break point">[BP]</span>, 40-15<span title="Break point">[BP]</span>, 40-30<span title="Break point">[BP]</span></td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">5-1</td><td class="mp_serve" width="40%"></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 0-15, 15-15, 30-15, 40-15</td></tr><tr><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">6-1</td><td class="mp_serve" width="40%">Rudy Quan <img alt="Rudy Quan serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Rudy Quan serve" width="8"/></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 15-15, 15-30, 30-30, 40-30<span title="Break point">[BP]</span>, 40-40, A-40<span title="Break point">[BP]</span>, 40-40, A-40<span title="Break point">[BP]</span></td></tr><tr class="result"><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">6-1</td><td class="mp_serve" width="40%"></td></tr></table>,
 <table class="table_stats_match"><tr class="mp_tour_head"><td colspan="3" width="100%">3</td></tr><tr><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">0-0</td><td class="mp_serve" width="40%">Rudy Quan <img alt="Rudy Quan serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Rudy Quan serve" width="8"/></td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">1-0</td><td class="mp_serve" width="40%"></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 15-15, 15-30, 30-30, 40-30</td></tr><tr><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">2-0</td><td class="mp_serve" width="40%">Rudy Quan <img alt="Rudy Quan serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Rudy Quan serve" width="8"/></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 30-0, 40-0<span title="Break point">[BP]</span>, 40-15<span title="Break point">[BP]</span></td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">3-0</td><td class="mp_serve" width="40%"></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 0-15, 15-15, 15-30, 30-30, 40-30</td></tr><tr><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">4-0</td><td class="mp_serve" width="40%">Rudy Quan <img alt="Rudy Quan serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Rudy Quan serve" width="8"/></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 15-15, 30-15, 40-15<span title="Break point">[BP]</span>, 40-30<span title="Break point">[BP]</span>, 40-40, 40-A, 40-40, 40-A, 40-40, 40-A</td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">4-1</td><td class="mp_serve" width="40%"></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 30-0, 40-0</td></tr><tr><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">5-1</td><td class="mp_serve" width="40%">Rudy Quan <img alt="Rudy Quan serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Rudy Quan serve" width="8"/></td></tr><tr><td class="mp_15" colspan="3" width="99%">0-0, 15-0, 30-0, 40-0<span title="Break point">[BP]</span>, 40-15<span title="Break point">[BP]</span></td></tr><tr><td class="mp_serve" width="40%">Borna Gojo <img alt="Borna Gojo serve" height="8" src="https://www.tennislive.net/styles/images/tennis_ball.gif" title="Borna Gojo serve" width="8"/></td><td class="mp_info_txt" width="18%">6-1</td><td class="mp_serve" width="40%"></td></tr><tr class="result"><td class="mp_serve" width="40%"></td><td class="mp_info_txt" width="18%">6-1  </td><td class="mp_serve" width="40%"></td></tr></table>]

### More Examples

Some other interesting match urls are tested below to test functionality of varying sets and number of tiebreaks.

In [24]:
url = 'https://www.tennislive.net/atp/match/yuta-shimizu-VS-rudy-quan/little-rock-challenger-2024/'
extract_point_by_point(url).head(20)

   pointScore serverName gameScore  setNum  isBreakPoint
0         0-0  Rudy Quan       0-0       1         False
1        15-0  Rudy Quan       0-0       1         False
2       15-15  Rudy Quan       0-0       1         False
3       30-15  Rudy Quan       0-0       1         False
4       30-30  Rudy Quan       0-0       1         False
5       40-30  Rudy Quan       0-0       1         False
6       40-40  Rudy Quan       0-0       1         False
7        40-A  Rudy Quan       0-0       1          True
8       40-40  Rudy Quan       0-0       1         False
9        A-40  Rudy Quan       0-0       1         False
10      40-40  Rudy Quan       0-0       1         False
11       A-40  Rudy Quan       0-0       1         False
12      40-40  Rudy Quan       0-0       1         False
13       A-40  Rudy Quan       0-0       1         False
14      40-40  Rudy Quan       0-0       1         False
15       A-40  Rudy Quan       0-0       1         False
16      40-40  Rudy Quan       0-0       1         False
17       A-40  Rudy Quan       0-0       1         False
18      40-40  Rudy Quan       0-0       1         False
19       A-40  Rudy Quan       0-0       1         False

In [25]:
# data.query("isBreakPoint = True")

In [26]:
url = 'https://www.tennislive.net/atp/match/jorge-plans-VS-mikel-lopez-hernaez/m25-bakio-2024/'
extract_point_by_point(url)

    pointScore           serverName gameScore  setNum  isBreakPoint
0          0-0          Jorge Plans       0-0       1         False
1         15-0          Jorge Plans       0-0       1         False
2         30-0          Jorge Plans       0-0       1         False
3        30-15          Jorge Plans       0-0       1         False
4        30-30          Jorge Plans       0-0       1         False
..         ...                  ...       ...     ...           ...
198        4-8  Mikel Lopez Hernaez       0-0       3         False
199        9-4          Jorge Plans       0-0       3         False
200        9-5          Jorge Plans       0-0       3         False
201        6-9  Mikel Lopez Hernaez       0-0       3         False
202        7-9  Mikel Lopez Hernaez       0-0       3         False

[203 rows x 5 columns]

In [27]:
url = 'https://www.tennislive.net/atp/match/jorge-plans-VS-mikel-lopez-hernaez/m25-bakio-2024/'
extract_point_by_point(url)

    pointScore           serverName gameScore  setNum  isBreakPoint
0          0-0          Jorge Plans       0-0       1         False
1         15-0          Jorge Plans       0-0       1         False
2         30-0          Jorge Plans       0-0       1         False
3        30-15          Jorge Plans       0-0       1         False
4        30-30          Jorge Plans       0-0       1         False
..         ...                  ...       ...     ...           ...
198        4-8  Mikel Lopez Hernaez       0-0       3         False
199        9-4          Jorge Plans       0-0       3         False
200        9-5          Jorge Plans       0-0       3         False
201        6-9  Mikel Lopez Hernaez       0-0       3         False
202        7-9  Mikel Lopez Hernaez       0-0       3         False

[203 rows x 5 columns]

In [28]:
url = 'https://www.tennislive.net/atp/match/mitchell-krueger-VS-abedallah-shelbayh/little-rock-challenger-2024/'
extract_point_by_point(url)

    pointScore          serverName gameScore  setNum  isBreakPoint
0          0-0  Abedallah Shelbayh       0-0       1         False
1         0-15  Abedallah Shelbayh       0-0       1         False
2        15-15  Abedallah Shelbayh       0-0       1         False
3        30-15  Abedallah Shelbayh       0-0       1         False
4        40-15  Abedallah Shelbayh       0-0       1         False
..         ...                 ...       ...     ...           ...
157       0-15    Mitchell Krueger       5-4       3         False
158      15-15    Mitchell Krueger       5-4       3         False
159      30-15    Mitchell Krueger       5-4       3         False
160      30-30    Mitchell Krueger       5-4       3         False
161      40-30    Mitchell Krueger       5-4       3         False

[162 rows x 5 columns]

In [29]:
url = 'https://www.tennislive.net/atp/match/borna-gojo-VS-rudy-quan/sioux-falls-challenger-2024/'
extract_point_by_point(url)

IndexError: list index out of range

In [30]:
url = 'https://www.tennislive.net/atp/match/ethan-quinn-VS-rudy-quan/fairfield-challenger-2024/'
extract_point_by_point(url)

    pointScore serverName gameScore  setNum  isBreakPoint
0          0-0  Rudy Quan       0-0       1         False
1         15-0  Rudy Quan       0-0       1         False
2         30-0  Rudy Quan       0-0       1         False
3        30-15  Rudy Quan       0-0       1         False
4        40-15  Rudy Quan       0-0       1         False
..         ...        ...       ...     ...           ...
153        0-0  Rudy Quan       2-5       3         False
154       0-15  Rudy Quan       2-5       3         False
155       0-30  Rudy Quan       2-5       3         False
156      15-30  Rudy Quan       2-5       3         False
157      15-40  Rudy Quan       2-5       3          True

[158 rows x 5 columns]

# Input link and modify data frame to be formatted correctly

In [31]:
url = 'https://www.tennislive.net/atp/match/yuta-shimizu-VS-rudy-quan/little-rock-challenger-2024/'
df = extract_point_by_point(url)

In [32]:
df[df['setNum'] == 1]

   pointScore    serverName gameScore  setNum  isBreakPoint
0         0-0     Rudy Quan       0-0       1         False
1        15-0     Rudy Quan       0-0       1         False
2       15-15     Rudy Quan       0-0       1         False
3       30-15     Rudy Quan       0-0       1         False
4       30-30     Rudy Quan       0-0       1         False
..        ...           ...       ...     ...           ...
69      30-40  Yuta Shimizu       5-4       1          True
70      40-40  Yuta Shimizu       5-4       1         False
71       40-A  Yuta Shimizu       5-4       1          True
72      40-40  Yuta Shimizu       5-4       1         False
73       A-40  Yuta Shimizu       5-4       1         False

[74 rows x 5 columns]

## Add Columns

### Add pointNumber column

In [33]:
df.insert(0, 'pointNumber', range(1, len(df) + 1))

### Add gameNumber column

In [34]:
def game_score(game):
    return sum(map(int,('').join(game.split('-')))) + 1

df['gameNumber'] = df['gameScore'].apply(game_score)

### Add player1Name and player2Name columns

In [35]:
serverNames = df['serverName'].unique()

player1 = serverNames[0]
player2 = serverNames[1]

df['player1Name'] = player1
df['player2Name'] = player2

### Add returnName column

In [36]:
def switch_names(name):
    if name != player1:
        return player1
    else :
        return player2

df['returnerName'] = df['serverName'].apply(switch_names)

### Add tiebreakeScore column

In [37]:
# Transfer values from pointScore to tiebreakScore where gameScore is '6-6'
if 'tiebreakScore' not in df.columns:
    df['tiebreakScore'] = np.nan

for i in df['setNum'].unique():
    current_set = df[df['setNum'] == i]

    last_game_score = current_set['gameScore'].iloc[-1]

    if '6-6' in last_game_score or '0-0' in last_game_score:
        df.loc[(df['setNum'] == i) & (df['gameScore'] == last_game_score), 'tiebreakScore'] = df['pointScore']
        
        # Set the pointScore to NaN where tiebreakScore is not NaN
        df.loc[pd.notna(df['tiebreakScore']), 'pointScore'] = np.nan

### Add setScore column
#### WARNING: Manually input the setScores for desired player

In [38]:
set_list = ['0-0', '1-0']

def set_setScores(x):
    
    if 1 <= x <= len(set_list):
        return set_list[x - 1]
        
df['setScore'] = df['setNum'].apply(set_setScores)

In [39]:
df

,pointNumber,pointScore,serverName,gameScore,setNum,isBreakPoint,gameNumber,player1Name,player2Name,returnerName,tiebreakScore,setScore
0,1,0-0,Rudy Quan,0-0,1,False,1,Rudy Quan,Yuta Shimizu,Yuta Shimizu,NaN,0-0
1,2,15-0,Rudy Quan,0-0,1,False,1,Rudy Quan,Yuta Shimizu,Yuta Shimizu,NaN,0-0
2,3,15-15,Rudy Quan,0-0,1,False,1,Rudy Quan,Yuta Shimizu,Yuta Shimizu,NaN,0-0
3,4,30-15,Rudy Quan,0-0,1,False,1,Rudy Quan,Yuta Shimizu,Yuta Shimizu,NaN,0-0
4,5,30-30,Rudy Quan,0-0,1,False,1,Rudy Quan,Yuta Shimizu,Yuta Shimizu,NaN,0-0
...,...,...,...,...,...,...,...,...,...,...,...,...
128,129,0-15,Rudy Quan,3-5,2,False,9,Rudy Quan,Yuta Shimizu,Yuta Shimizu,NaN,1-0
129,130,0-30,Rudy Quan,3-5,2,False,9,Rudy Quan,Yuta Shimizu,Yuta Shimizu,NaN,1-0
130,131,0-40,Rudy Quan,3-5,2,True,9,Rudy Quan,Yuta Shimizu,Yuta Shimizu,NaN,1-0
131,132,15-40,Rudy Quan,3-5,2,True,9,Rudy Quan,Yuta Shimizu,Yuta Shimizu,NaN,1-0
132,133,30-40,Rudy Quan,3-5,2,True,9,Rudy Quan,Yuta Shimizu,Yuta Shimizu,NaN,1-0

### Add Timestamp columns

In [40]:
df['Position'] = ''
df['pointEndPosition'] = ''
df['Duration'] = ''

### Add Team columns
#### WARNING: Manually set Team Names

In [41]:
df['clientTeam'] = 'UCLA'
df['opponentTeam'] = ''

### Add name column

In [42]:
df['Name'] = df.apply(lambda row: f"Set {row['setNum']}: {row['gameScore']}, {row['tiebreakScore']} {row['serverName']} Serving" if pd.notna(row['tiebreakScore']) else f"Set {row['setNum']}: {row['gameScore']}, {row['pointScore']} {row['serverName']} Serving", axis=1)

## Specify Order

In [43]:
df = df[['Name', 'pointNumber', 'setNum', 'gameNumber', 'player1Name', 'player2Name', 
         'pointScore', 'gameScore', 'setScore', 'tiebreakScore', 'serverName', 'returnerName',
        'Position', 'pointEndPosition', 'Duration', 'isBreakPoint', 'clientTeam', 'opponentTeam']]

In [44]:
df.head(5)

,Name,pointNumber,setNum,gameNumber,player1Name,player2Name,pointScore,gameScore,setScore,tiebreakScore,serverName,returnerName,Position,pointEndPosition,Duration,isBreakPoint,clientTeam,opponentTeam
0,"Set 1: 0-0, 0-0 Rudy Quan Serving",1,1,1,Rudy Quan,Yuta Shimizu,0-0,0-0,0-0,NaN,Rudy Quan,Yuta Shimizu,,,,False,UCLA,
1,"Set 1: 0-0, 15-0 Rudy Quan Serving",2,1,1,Rudy Quan,Yuta Shimizu,15-0,0-0,0-0,NaN,Rudy Quan,Yuta Shimizu,,,,False,UCLA,
2,"Set 1: 0-0, 15-15 Rudy Quan Serving",3,1,1,Rudy Quan,Yuta Shimizu,15-15,0-0,0-0,NaN,Rudy Quan,Yuta Shimizu,,,,False,UCLA,
3,"Set 1: 0-0, 30-15 Rudy Quan Serving",4,1,1,Rudy Quan,Yuta Shimizu,30-15,0-0,0-0,NaN,Rudy Quan,Yuta Shimizu,,,,False,UCLA,
4,"Set 1: 0-0, 30-30 Rudy Quan Serving",5,1,1,Rudy Quan,Yuta Shimizu,30-30,0-0,0-0,NaN,Rudy Quan,Yuta Shimizu,,,,False,UCLA,

# Add in Timestamps

In [ ]:
# # Put timestamps file here
# timestamp = pd.read_csv("timestamps_9uYpCdMy4eA.csv")

In [ ]:
# if timestamp.shape[0] != point_df.shape[0]:
#     raise ValueError("Error: The number of rows in timestamp and point_df are not the same.")
# else:
#     # Assign values to point_df
#     point_df['Position'] = timestamp['pointStartTime'].values
#     point_df['pointEndPosition'] = timestamp['endStartTime'].values
#     print("\u2713 Check passed")

# Output the Point Visuals csv

In [ ]:
# Save point_df to CSV file

# Assuming point_df is your DataFrame and player1Name and player2Name are the names from the first row
player1NameNoSpace = df.iloc[0]['player1Name'].replace(" ", "")
player2NameNoSpace = df.iloc[0]['player2Name'].replace(" ", "")

# Save DataFrame to CSV file with modified player names
df.to_csv(f'Point_Visuals_{player1NameNoSpace}_{player2NameNoSpace}.csv', index=False)